/* --- Ejercicio 9: Estilos en Documento Externo --- */

/* 1. Estilos por Elemento (h1, p, a, img, button) */
/* Estos estilos se aplican a TODAS las instancias de estos elementos en el HTML */
h1 {
    color: #644016;
    /* Azul oscuro */
    font-family: "Comic Sans MS", cursive, sans-serif; /* 3. Tipo de letra Comic Sans MS */
    font-size: 20px;                
    text-decoration: underline;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
    
}

p {
    color: #2d6fb1;
    /* Gris azulado */
    line-height: 1.6;
    font-size: 18px;
}

a {
    color: #59e73c;
    /* Rojo */
    text-decoration: none;
    
}

/* pseudo-clases, son estados de los elementos, los cuales cambian cuando el usuario interactua con ellos */
/* por ejemplo, cuando el usuario pone el cursor sobre el enlace, este cambia a underline */
a:hover {
    text-decoration: underline;
}

img {
    border: 3px solid #bdc3c7;
    border-radius: 8px;
    margin-top: 15px;
}

button {
    background-color: #3498db;
    /* Azul */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    
}

/* pseudo-clases, son estados de los elementos, los cuales cambian cuando el usuario interactua con ellos */
/* por ejemplo, cuando el usuario pone el cursor sobre el boton, este cambia a un color diferente */
button:hover {
    background-color: #29b965;
    font-size: 18px;
}

/* 2. Estilos por ID (id="id1") */
/* Solo se aplica al elemento con id="id1" */
#id1 {
    background-color: #e8f6f3;
    /* Verde menta muy claro */
    border: 2px dashed #16a085;
    /* Verde menta */
    padding: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

/* 3. Estilos por Clase (class="class1" y class="class2") */
/* Se aplican a CUALQUIER elemento que tenga esta clase */

.class1 {
    background-color: #fdf5e6;
    /* Beige */
    border: 3px solid #d35400;
    /* Naranja */
    padding: 15px;
    margin: 10px 0;
    color: #d35400;
    font-style: italic;
}

.class2 {
    background-color: #111b36;
    /* Rojo muy claro */
    border: 3px solid #c0392b;
    /* Rojo oscuro */
    padding: 15px;
    margin: 10px 0;
    color: #dde74a;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
#id4 {
    background-color: #e4a596;
    border: 2px dashed #b8131b;
    padding: 30px;
    margin: 20px 0;
    color: #d6f15b;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.class3 {
    background-color: #58ac6a;
    border: 3px solid #0dcc5d;
    padding: 15px;
    margin: 10px 0;
    color: #2dd666;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}