
    table {
      width: 80%;
      border-collapse: collapse;
      margin: 25px 0;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    th, td {
      padding: 12px 15px;
      border-bottom: 1px solid #dddddd;
    }

    th {
      background-color: #001798;
      color: #ffffff;
      text-align: left;
    }

    tbody tr:hover {
      background-color: #f3f3f3;
    }

    tbody tr:nth-of-type(even) {
      background-color: #f9f9f9;
    }

    tfoot {
      background-color: #b80e0e;
      color: #ffffff;
      text-align: center;
    }

    caption {
      caption-side: bottom;
      margin-top: 10px;
      font-style: italic;
      color: #666;
    }